{# Pied de page #}
<footer class="text-center jd-bg-dark text-white-50 pt-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Espace visiteur</p>
            </div>
            <div class="col-md-4">
                <span>© Copyright </span>
            </div>
            <div class="col-md-4">
                <p>Le site de Divercity</p>
            </div>
        </div>
    </div>
</footer>