

<div class="container mt-2">
    <div class="row text-center text-dark rounded shadow vh-100  justify-content-center">
      <div class="row col-md-12">
        <h1 class=" d-flex align-items-center text-center justify-content-center"> <small> Des repas chauds, thé, café, <br> gâteaux faits maison et des kits hygiène </small></h1> 
      </div>
      
      <div class="row ">
        <div class="">
            <div class="row">
              <div class="card-group">
                <div class="card">
                  <img src="{{ asset('images/static/visitor/divercity/divercity_img1.jpg')| imagine_filter('visitor_welcome_page_img_thumb')  }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">La famille Divercity</h5>
                    <p class="card-text">Si toi aussi tu as envie d'avoir une photo de beau gosse devant la gare de Lyon, avec un chasuble qui déchire, rejoins notre asso le temps d'une soirée ou plus si affinité 😉</p>
                    
                  </div>
                </div>
                <div class="card">
                  <img src="{{ asset('images/static/visitor/divercity/divercity_img.jpg')| imagine_filter('visitor_welcome_page_img_thumb')  }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">On a pas des beaux chasubles nous ?</h5>
                    <p class="card-text">Nous avions fait un appel à la créativité de tous pour nous confectionner un logo pour notre asso 🤩 c'est @annelaureartuso qui avait fait l'unanimité avec ce logo qui aujourd'hui est notre identité.</p> 
                  </div>
                </div>
                <div class="card">
                  <img src="{{ asset('images/static/visitor/divercity/divercity_img3.jpg')| imagine_filter('visitor_welcome_page_img_thumb')  }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Des repas chauds, thé, café, gâteaux faits maison</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>    
</div>

    

